<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/navbar.ejs") %>
    <div class="container">
        <p class="lead">Imagine the scenario. Your fridge is full of ingredients, but you're not sure what to make. You'll even be able to find recipes by listing the key ingredients.</p>
        <form method="post"  action="/getrecipes">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Enter the ingredients or items in your fridge: </label>
                <textarea name="ingredients" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Seperate each item with a comma(,). Ex: Eggs, Tomatoes, Potatoes, etc"></textarea>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Get Recipes</button>
              </div>
        </form>
      </div>
      <br>



      <div>
        <% if (locals.recipesSimilar) {%>
            <div class="container text-center">
                <div class="row">
                    <% for (var i = 0; i < recipesSimilar.length; i++) { %>

                          <div class="col">

                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title"><%= recipesSimilar[i].name %> </h5>
                                  <h6 class="card-subtitle mb-2 text-body-secondary">Id: <%= recipesSimilar[i].id %></h6>
                                  <a href="<%= recipesSimilar[i].source  %>" class="card-link">Actual article</a><br>
                                  <a href="/getrecipes?id=<%= recipesSimilar[i].id  %>&name=<%= recipesSimilar[i].name %>" class="btn btn-primary">Get instructions</a>                                
                              </div>
                            </div>
                            <br>
                          </div>
                    <% } %>
                </div>
            </div>
        <% } %>
</div>



      <div class="container">
                <% if (locals.ingredients) {%>
                    <div class="container text-center">
                        <div class="row">
                        <% for (var i = 0; i < ingredients.length; i++) { %>

                                  <div class="col">

                                    <div class="card" style="width: 18rem;">
                                        <img src=<%= ingredients[i].image %> class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title"><%= ingredients[i].name %></h5>
                                          <div>
                                            <a href="?id=<%= ingredients[i].id  %>&name=<%= ingredients[i].name %>" class="btn btn-primary">Get instructions</a>
                                          </div><br>
                                          <div>
                                            <a href="/similar?id=<%= ingredients[i].id  %>" >Get similar recipes</a>

                                          </div>
                                        </div>
                                    </div>
                                    <br>
                                  </div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
      </div>
                <%- include("partials/footer.ejs") %>
    </body>
</html>